.catagorysDiv{
    width: 100%;
    height: var(--catagoryHeight);
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar{
    display: none;
}

.listItems{
   background-color: "#fff";
   border: 1px solid gainsboro;
   padding: 5px 16px 5px 15px;
   border-radius: 20px;
   font-size: 13px;
   cursor: pointer;
   margin-right: 12px;
   margin-bottom: 25px;
   font-weight: 500;
   color : "#000"
}

@media screen and (max-width: 710px) {
    .catagorysDiv{  
        padding-bottom: 15px;
    }

    .listItems{
        margin: 0 8px;
     }
     
}