.readNewsLayout{
    height: calc(var(--fullPageHeight) - var(--headerHeight));
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.articalDetail{
    height: 100%;
    width: 75%;
    padding: 35px 30px 0 30px;
    overflow: scroll;
}

.articalDetail h2{
  font-size: 22px;
  color: rgb(51, 49, 49);
  padding: 6px 0;
}

.dateText{
  font-size: 12px;
  padding: 5px 0;
  color: grey;
}

.descriptionText{
    font-size: 16px;
    color: rgb(94, 87, 87);
}

.articalStoryText{
    padding: 15px 0 50px 0;
}

.imageView{
    margin: 20px 0;
    /*aspect-ratio: 16/9;*/
    padding-top: calc(9/16 * 90%);
    width: 90%;
    background-color: gainsboro;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.noDataDiv{
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 710px) {
    .readNewsLayout{
        flex-direction: column;
    }

    .articalDetail{
        width: 100%;
        padding: 15px 20px 0 20px;
    }

    .articalDetail h2{
        font-size: 18px;
        padding: 4px 0;
      }
      
      .descriptionText{
          font-size: 14px;
      }
      
      .articalStoryText{
          padding: 15px 0 50px 0;
          font-size: 14px;
      }

    .imageView{
        width: 100%;
        padding-top: calc(9/16 * 100%);
    }
    
}